<div>
  <p>Welcome to <%= title %></p>

  <ul>
    <li><a href="/foo">Foo</a></li>
    <li><a href="/bar">Bar</a></li>
  </ul>
  
  <h2>The foo result here:</h2>
  <table><tr><td><%- foo %></td></tr></table>

  <h2>The bar result here:</h2>
  <table><tr><td><%- bar %></td></tr></table>
</div>
